a {
    color: #1a0dab;
    text-decoration: none;
}

#search-header {
    padding: 20px;
    line-height: 24px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.header-item {
    padding-right: 16px;
    font-family: arial,sans-serif;
    color: rgba(0, 0, 0, 0.75);
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.header-item:hover {
    text-decoration: underline;
}

#footer {
    line-height: 24px;
    font-family: arial,sans-serif;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 3;
}

.footer-item {
    color: #666;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    padding-right: 30px;
    cursor: pointer;
}

.footer-item:hover {
    text-decoration: underline;
}

#app-drawer-container {
    display: none;
}

#app-drawer {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    height: 330px;
    min-height: 196px;
    overflow-y: auto;
    top: 60px;
    right: 50px;
    width: 320px;
    z-index: 1;
}

#app-drawer-body {
    padding: 15px;
}

.app-drawer-tri {
    border-color: transparent;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    height: 0;
    position: absolute;
    right: 86px;
    width: 0;
    z-index: 2;
}

#app-drawer-tri1 {
    border-bottom-color: rgba(0, 0, 0, 0.2);
    top: 52px;
}

#app-drawer-tri2 {
    border-bottom-color: #fff;
    top: 53px;
}

.app {
    color: rgba(64, 64, 64, 0.38);
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    height: 100px;
    text-align: center;
    width: 94px;
}

.app-icon {
    height: 64px;
    width: 64px;
}

@media only screen and (max-width: 480px) {
	#app-drawer {
        width: 100%;
        left: 0;
    }
    .app {
        width: 32%;
    }
}

#main-logos {
    margin: 140px auto 10px;
    height: 160px;
    max-width: 400px;
    overflow: hidden;
    width: 90%;
}
.logo {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
}
.logo-container {
    position: relative;
    top: -100%;
    height: 100%;
    width: 100%;
}
#lucky-search-btn {
    width: 143px;
}
.feeling-jimmy {
    height: 36px;
    width: 100%;
}
#feeling-jimmy-container {
    position: relative;
    top: -144px;
}
#main-search-btn {
    width: 125px;
}
#promo {
    font-family: arial;
    font-size: small;
    margin-top: 12px;
    margin-bottom: 100px;
}
#login-title-card {
    margin-bottom: 40px;
}
.question-card {
    animation-duration: 1s;
    animation-name: slidein;
    animation-timing-function: ease-in-out;
}
.search-box-container {
    border-radius: 2px;
    height: 44px;
    margin: auto;
    max-width: 632px;
    width: 90%;
}
.search-box-div {
    background-color: #fff;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    box-sizing: border-box;
    font-family: arial;
    font-size: 16px;
    height: 100%;
    padding: 0px 9px 0 9px;
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    width: 100%;
}
.search-box-div:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}
.search-box-input {
    border: none;
    display: inline-block;
    height: 100%;
    outline: none;
    padding: 0;
    width: 100%;
}
.search-box-focus-shadow {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}
#result-search-box-input {
    width: 90%;
}
@media only screen and (max-width: 480px) {
	#result-search-box-input {
        width: 75%;
    }
}
#main-search-box-container {
    margin: 20px auto 10px auto;
    max-width: 484px;
}
#search-btn-container {
    padding-top: 18px;
}
.search-btn {
    background-color: #f2f2f2;
    background: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
    background: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    box-sizing: border-box;
    color: #757575;
    cursor: default;
    display: inline-block;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    height: 36px;
    margin: 11px 4px;
    overflow: hidden;
    padding-top: 10px;
    text-align: center;
    vertical-align: top;
}

.search-btn:hover {
    border: 1px solid #C6C6C6;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    color: #222;
}

.search-btn:focus {
    border: 1px solid #4D90FE;
    outline: none;
}

#search-bar {
    height: 86px;
    display: flex;
    background-color: #FAFAFA;
    padding-right: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
@media only screen and (max-width: 480px) {
	#search-bar {
        padding-right: 10px;
    }
}

#search-bar > .search-box-container {
    margin-left: 0;
    display: flex;
}

.image-container {
    display: block;
    height: 41px;
    width: 95px;
    padding-top: 25px;
    padding-right: 12px;
    padding-left: 11px;
}

.image-container > img {
    max-width: 95px;
    max-height: 41px;
}

#search-button {
    float: right;
    height: 24px;
    margin-top: 10px;
    margin-right: 7px;
    width: 24px;
}

#search-button > svg {
    color: #4285f4;
    cursor: pointer;
    fill: currentColor;
    height: 24px;
    width: 24px;
}

#search-results {
    margin: 0 30px 0 118px;
    max-width: 700px;
}
@media only screen and (max-width: 480px) {
	#search-results {
        margin: 0 10px;
    }
}

.result-text {
	color: rgba(0, 0, 0, 0.57);
	font-weight: 400;
	padding: 15px 0px 0px 0px;
}

.result-title {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 1.6em;
}

/*http://stackoverflow.com/a/27319196*/
.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 rgba(0, 0, 0, 0.85),
      .5em 0 0 rgba(0, 0, 0, 0.85);}}

.stripe-btn {
    background-color: rgba(3, 155, 229, 0.7);
    border: none;
    border-radius: 2px;
    bottom: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    height: auto;
    padding: 9px 10px;
    margin: 0 20px;
    outline: 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    transition: background-color .2s;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
}
.stripe-btn:focus, .stripe-btn:hover {
  background-color: rgba(3, 155, 229, 1.0);
}
.stripe-card-title {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1em;
    font-weight: 500;
}
.stripe-ad-text {
    color: #006621;
    border: 1px solid #006621;
    border-radius: 2px;
    padding: 0 2px 0 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.stripe-card-text {
    color: rgba(0, 0, 0, 0.57);
    font-size: 14px;
    font-weight: 400;
}

#jimmy-bump-container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}
@media only screen and (max-width: 768px) {
    #jimmy-bump-container {
        padding-bottom: 45px;
    }
	.stripe-btn {
        left: 0;
        margin: 0 5px;
        right: auto;
    }
}
.admin-add-link {
    color: #039BE5;
    display: block;
    margin: 0 0 20px 40px;
}
.result-link {
    overflow-wrap: break-word;
}
