a {
    color: #1a0dab;
    text-decoration: none;
}
#footer {
    background-color: rgb(242, 242, 242);
    border-top-color: rgb(228, 228, 228);
    border-top-style: solid;
    border-top-width: 1px;
    bottom: 0px;
    height: 40px;
    left: 0px;
    position: fixed;
    width: 100%;
}
#logo {
    display: block;
    margin: 100px auto 10px;
    height: 160px;
    max-width: 400px;
    width: 90%
}
#lucky-search-btn {
    width: 143px;
}
#main-search-btn {
    width: 125px;
}
#promo {
    font-family: arial;
    font-size: small;
    margin-top: 12px;
}
.question-card {
    animation-duration: 1s;
    animation-name: slidein;
    animation-timing-function: ease-in-out;
}
#search-box-container {
    height: 40px;
    margin: auto;
    max-width: 484px;
    width: 90%;
}
#search-box {
    border: 1px solid rgb(217, 217, 217);
    box-sizing: border-box;
    font-family: arial;
    font-size: 16px;
    height: 100%;
    padding: 0px 9px 0 9px;
    width: 100%;
}
#search-box:hover {
    border: 1px solid rgb(185, 185, 185);
}
#search-box:focus {
    border: 1px solid rgb(77, 144, 254);
    outline: none;
}
#search-btn-container {
    padding-top: 18px;
}
.search-btn {
    background-color: #f2f2f2;
    background: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
    background: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    box-sizing: border-box;
    color: #757575;
    cursor: default;
    display: inline-block;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    height: 36px;
    margin: 11px 4px;
    padding: 10px 0;
    text-align: center;
}

.search-btn:hover {
    border: 1px solid #C6C6C6;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    color: #222;
}

.search-btn:focus {
    border: 1px solid #4D90FE;
    outline: none;
}

#search-bar {
    height: 59px;
    display: flex;
    background-color: rgb(241, 241, 241);
    padding-right: 30px;
}
@media only screen and (max-width: 480px) {
	#search-bar {
        padding-right: 10px;
    }
}

#search-bar > #search-box-container {
    margin-left: 0;
    display: flex;
}

.image-container {
    height: 41px;
    width: 95px;
    padding-top: 13px;
    padding-right: 10px;
    padding-left: 13px;
}

.image-container > img {
    max-width: 100%;
    max-height: 100%;
}

#search-button {
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #4285F4;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: none;
    background-image: none;
}

#search-button:hover {
    background-color: #3B78E7;
}

#search-results {
    margin: 0 30px 0 118px;
    max-width: 700px;
}
@media only screen and (max-width: 480px) {
	#search-results {
        margin: 0 10px;
    }
}

.result-text {
	color: rgba(0, 0, 0, 0.57);
	font-weight: 400;
	padding: 15px 0px 0px 0px;
}

.result-title {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 1.6em;
}

/*http://stackoverflow.com/a/27319196*/
.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 rgba(0, 0, 0, 0.85),
      .5em 0 0 rgba(0, 0, 0, 0.85);}}

.mag-glass {
    display: inline-block;
    height: 24px;
    width: 24px;
    color: transparent;
    background: url(https://www.google.com/images/nav_logo242.png) no-repeat -107px -55px;
    margin: 7px auto;
}
