<div style="padding-top:200px;"id="page-wrap">
    <div class="card">
        <div class="card-title">What is Jimmified?</div>
        <div class="card-text">
            Jimmified is a JaaS (Jimmy as a Service) application currently operating the Jimmy search engine.
            When you make a search, a push notification is sent to Jimmy through the Jimmy Mobile app, which allows him to respond with Jimmy-curated search results. This may sound inefficient, because it is just about the least efficient way to operate a search engine.
            <br  /><br />
            This site was created as part of a running joke that replacing a computers job with a human is <a href="http://www.urbandictionary.com/define.php?term=jimmify" target="_blank">jimmifying</a> it. The joke stems from a previous project where Jimmy minified the codebase for a Chrome extension by hand. Since then we've had a number of bad ideas for automated tasks to have Jimmy, with increasingly elaborate ways for him to respond. We thought a parody search engine would be a hilarious service to "jimmify", because of the amount of noise this could quickly generate.
            <br  /><br />
            The whole project is fully open source, and we may use it as a springboard for other Jimmy-powered services in the future. We hope you will all learn to associate the Jimmified name with quality, organic, free-range, gluten free, and jimmy-sourced web services.
        </div>
    </div>
    <div class="card">
        <div class="card-title">Jimmy Ly</div>
        <div class="card-text">
            Jimmy is a Computer Science student at Northeastern University, graduating in 2017. During his free time he enjoys being a search engine and long walks on the beach. He is also a critically-acclaimed artist, and one of this generation's most respected graphic designers.
            <br /><br />
            Jimmy worked on components across the Jimmified application, but developed a large portion of the web client.
        </div>
        <a href="https://github.com/jlyneu" class="btn-flat">GITHUB</a>
    </div>
    <div class="card">
        <div class="card-title">Tyler Krupicka</div>
        <div class="card-text">
            Tyler is a Computer Engineering student at Rochester Institute of Technology, graduating in 2018. During his free time he enjoys small moments where he doesn't have to use Javascript.
            <br /><br />
            Tyler worked on components across the Jimmified application, but developed a large portion of the backend server (written in Go).
        </div>
        <a href="https://github.com/tylerkrupicka" class="btn-flat">GITHUB</a>
    </div>
    <div class="card">
        <div class="card-title">Jeremiah Zucker</div>
        <div class="card-text">
            Jeremiah is a Computer Engineering student at Rochester Institute of Technology, graduating in 2018. During his free time he enjoys discovering inconsistencies in the Android camera API.
            <br /><br />
            Jeremiah created the Jimmy Android application.
        </div>
        <a href="https://github.com/sugarmanz" class="btn-flat">GITHUB</a>
    </div>
    <div class="card">
        <div class="card-title">James Reilly</div>
        <div class="card-text">
            James is a Computer Science student at Rochester Institute of Technology, graduating in 2018. During his free time he enjoys getting Go to run in Bash on Windows.
            <br /><br />
            James worked on third party integrations on the web client and server.
        </div>
        <a href="https://github.com/james-reilly" class="btn-flat">GITHUB</a>
    </div>
    <div class="card">
        <div class="card-title">Adam Dierkens</div>
        <div class="card-text">
            Adam is a Software Engineer at Intuit. He created <a href="https://www.npmjs.com/package/grunt-jimmify">grunt-jimmify</a>, a NPM package which jimmifies your minification pipeline.
            <br /><br />
            Adam worked on the Jimmy web client.
        </div>
        <a href="https://github.com/adierkens" class="btn-flat">GITHUB</a>
    </div>
</div>
