<div class="material-body">
    <div style="background: #039BE5;" id="hero">
        <div id="title-bar">
            <div>
                <h1>Jimmy Console</h1>
                <h2 id="subtitle">Preach to the people</h2>
            </div>
        </div>
    </div>
</div>
<div id="page-wrap">
    <div class="card">
        <div class="card-title">Server Base URL</div>
        <div class="card-text">Provide the base URL for requests to the jimmified-server, i.e. http://localhost:3000</div>
        <div class="group">
            <input id="server-base-url" type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Base URL</label>
        </div>
    </div>
    <div class="card">
        <div class="card-title">TurboJim AnswerXchange</div>
        <div class="card-text">After you provide a URL for the server, go get some questions to answer!</div>
        <a id="admin-get-questions" class="btn-flat">GET QUESTIONS</a>
    </div>
    <div id="answer-list">
    </div>
</div>
