<div class="material-body">
    <div style="background: #039BE5;" id="hero">
        <div id="title-bar">
            <div>
                <h1>Jimmy Console</h1>
                <h2 id="subtitle">Preach to the people</h2>
            </div>
        </div>
    </div>
</div>
<div id="page-wrap">
    <div class="card">
        <div class="card-title">TurboJim AnswerXchange</div>
        <div class="card-text">Go get some questions to answer!</div>
        <a id="admin-get-questions" class="btn-flat">GET QUESTIONS</a>
    </div>
    <div id="question-list">
    </div>
</div>
