<div class="group">
    <input class="answer-link" data-question-id={{key}} type="text" required maxlength="800">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>URL</label>
</div>
