<div id="app-drawer-tri1" class="app-drawer-tri"></div>
<div id="app-drawer-tri2" class="app-drawer-tri"></div>
<div id="app-drawer">
    <div id="app-drawer-body">
        <div class="app" title="Not available yet, but Jimmy's working on it!">
            <img class="app-icon" src="img/jimmy-db.png"/>
            <div class="app-name">Jimmy DB</div>
        </div>
        <div class="app" title="Not available yet, but Jimmy's working on it!">
            <img class="app-icon" src="img/jimmy-maps.png"/>
            <div class="app-name">Jimmy Maps</div>
        </div>
        <div class="app" title="Not available yet, but Jimmy's working on it!">
            <img class="app-icon" src="img/jimmy-finance.png"/>
            <div class="app-name">Jimmy Finance</div>
        </div>
        <div class="app" title="Not available yet, but Jimmy's working on it!">
            <img class="app-icon" src="img/jimmy-weather.png"/>
            <div class="app-name">Jimmy Weather</div>
        </div>
        <div class="app" title="Not available yet, but Jimmy's working on it!">
            <img class="app-icon" src="img/jimmy-calendar.png"/>
            <div class="app-name">J Calendar</div>
        </div>
        <div class="app" title="Not available yet, but Jimmy's working on it!">
            <img class="app-icon" src="img/jimmy-alpha.png"/>
            <div class="app-name">Jimmy Alpha</div>
        </div>
        <div class="app" title="Not available yet, but Jimmy's working on it!">
            <img class="app-icon" src="img/jimmy-tax.png"/>
            <div class="app-name">Jimmy Tax</div>
        </div>
        <div class="app" title="Not available yet, but Jimmy's working on it!">
            <img class="app-icon" src="img/jimmy-book.png"/>
            <div class="app-name">JimmyBook</div>
        </div>
        <div class="app" title="Not available yet, but Jimmy's working on it!">
            <img class="app-icon" src="img/jimmy-news.png"/>
            <div class="app-name">Jimmy News</div>
        </div>
    </div>
</div>
