<div id="app-drawer-tri1" class="app-drawer-tri"></div>
<div id="app-drawer-tri2" class="app-drawer-tri"></div>
<div id="app-drawer">
    <div id="app-drawer-body">
        <div class="app" title="Not available yet, but Jimmy's working on it!">
            <img class="app-icon" src="https://media.giphy.com/media/3o85xBH1NjrRfa8kPm/giphy.gif"/>
            <div class="app-name">JimmyDB</div>
        </div>
        <div class="app" title="Not available yet, but Jimmy's working on it!">
            <img class="app-icon" src="https://media.giphy.com/media/3o85xBH1NjrRfa8kPm/giphy.gif"/>
            <div class="app-name">JimmyMaps</div>
        </div>
        <div class="app" title="Not available yet, but Jimmy's working on it!">
            <img class="app-icon" src="https://media.giphy.com/media/3o85xBH1NjrRfa8kPm/giphy.gif"/>
            <div class="app-name">JimmyWeather</div>
        </div>
        <div class="app" title="Not available yet, but Jimmy's working on it!">
            <img class="app-icon" src="https://media.giphy.com/media/3o85xBH1NjrRfa8kPm/giphy.gif"/>
            <div class="app-name">JimmyFinance</div>
        </div>
        <div class="app" title="Not available yet, but Jimmy's working on it!">
            <img class="app-icon" src="https://media.giphy.com/media/3o85xBH1NjrRfa8kPm/giphy.gif"/>
            <div class="app-name">JimmyCalendar</div>
        </div>
        <div class="app" title="Not available yet, but Jimmy's working on it!">
            <img class="app-icon" src="https://media.giphy.com/media/3o85xBH1NjrRfa8kPm/giphy.gif"/>
            <div class="app-name">JimmyAlpha</div>
        </div>
        <div class="app" title="Not available yet, but Jimmy's working on it!">
            <img class="app-icon" src="https://media.giphy.com/media/3o85xBH1NjrRfa8kPm/giphy.gif"/>
            <div class="app-name">JimmyTax</div>
        </div>
    </div>
</div>
