<div class="stripe-card-title">Jimmy works for tips. Bump your question to the top of the queue.</div>
<div class="stripe-card-text">Current position: {{position}}</div>
<a id="stripe-pay-btn" class="stripe-btn btn-flat">Pay</a>
<a id="stripe-decline-btn" class="btn-flat stripe-btn">No Thanks</a>
