<div>
    <div class="stripe-card-title">Uh oh! Looks like Jimmy is in high demand.</div>
    <div class="stripe-card-text"><span class="stripe-ad-text">Ad</span> | jimmified.com | position {{position}}</div>
    <div class="stripe-card-text">Support the site to bump your place in queue.</div>
    <div class="stripe-card-text">All payments agree to the <a href="#terms">terms and conditions</a>.</div>
</div>
<div>
    <a id="stripe-pay-btn" class="stripe-btn">Support for $1</a>
</div>
