<div class="material-body">
    <div style="background: #039BE5;" id="hero">
        <div id="title-bar">
            <div>
                <h1>Jimmy Console</h1>
                <h2 id="subtitle">Preach to the people</h2>
            </div>
        </div>
    </div>
</div>
<div id="page-wrap">
    <div class="question-card card">
        <div class="card-title">Are you Jimmy?</div>
        <div class="group">
            <input class="answer-input" type="text" required maxlength="800">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Username</label>
        </div>
        <div class="group">
            <input class="answer-input" type="text" required maxlength="800">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Password</label>
        </div>
        <a class="btn-flat">LOGIN</a>
    </div>
</div>
