<div>
    <div id="logo-container">
        <img id="hidden-logo" class="logo" src={{hiddenLogoUrl}}></img>
        <img id="visible-logo" class="logo" src={{logoUrl}}></img>
    </div>
    <div id="main-search-box-container" class="search-box-container">
        <input id="main-search-box" class="search-box" type="text" placeholder="Ask Jimmy"/>
    </div>
    <center id="search-btn-container">
        <div id="main-search-btn" class="search-btn">
            Jimmy Search
        </div>
        <div id="lucky-search-btn" class="search-btn">
            <div id="feeling-jimmy-container">
                <div class="feeling-jimmy">I'm Feeling Jimmy</div>
                <div class="feeling-jimmy">I'm Feeling Jimmy</div>
                <div class="feeling-jimmy">I'm Feeling Jimmy</div>
                <div class="feeling-jimmy">I'm Feeling Jimmy</div>
                <div class="feeling-jimmy">I'm Feeling Jimmy</div>
                <div class="feeling-jimmy">I'm Feeling Jimmy</div>
                <div class="feeling-jimmy">I'm Feeling Jimmy</div>
                <div class="feeling-jimmy">I'm Feeling Jimmy</div>
                <div class="feeling-jimmy">I'm Feeling Jimmy</div>
            </div>
        </div>
        <div id="promo">
            All proceeds fund children's
            <a href="https://jlyneu.github.io/artwork/">art education</a>
        </div>
    </center>
</div>
