<div>
    <div id="search-header">
        <div class="header-item">Jmail</div>
        <div class="header-item">About</div>
        <img id="app-drawer-toggle" class="header-item" width="25px" height="25px" src="img/appdrawer.png" />
        <img class="header-item"src="img/notification_icon.png" />
    </div>
    <div id="app-drawer-container">
        {{> appDrawer}}
    </div>
    <div id="logo-container">
        <img id="hidden-logo" class="logo" src={{hiddenLogoUrl}}></img>
        <img id="visible-logo" class="logo" src={{logoUrl}}></img>
    </div>
    <div id="main-search-box-container" class="search-box-container">
        <div class="search-box-div">
            <input id="main-search-box" class="search-box-input" type="text" placeholder="Ask Jimmy" maxlength="255"/>
        </div>
    </div>
    <center id="search-btn-container">
        <div id="main-search-btn" class="search-btn">
            Jimmy Search
        </div>
        <div id="lucky-search-btn" class="search-btn">
            <div id="feeling-jimmy-container">
                <div class="feeling-jimmy">I'm Feeling Jimmy</div>
                <div class="feeling-jimmy">I'm Feeling Jimmy</div>
                <div class="feeling-jimmy">I'm Feeling Jimmy</div>
                <div class="feeling-jimmy">I'm Feeling Jimmy</div>
                <div class="feeling-jimmy">I'm Feeling Jimmy</div>
                <div class="feeling-jimmy">I'm Feeling Jimmy</div>
                <div class="feeling-jimmy">I'm Feeling Jimmy</div>
                <div class="feeling-jimmy">I'm Feeling Jimmy</div>
                <div class="feeling-jimmy">I'm Feeling Jimmy</div>
            </div>
        </div>
        <div id="promo">
            All proceeds fund Jimmy's
            <a href="https://jlyneu.github.io/artwork/">artistic endeavors</a>
        </div>
    </center>
    <footer id="footer">
        <a href="#privacy"><div class="footer-item">Privacy</div></a>
        <a href="#terms"><div class="footer-item">Terms</div></a>
        <a href="https://github.com/jimmified/"><div class="footer-item">Github</div></a>
    </footer>
</div>
