<img id="logo" src={{logoUrl}}></img>
<div id="search-box-container">
    <input id="search-box" type="text" placeholder="Ask Jimmy"/>
</div>
<center id="search-btn-container">
    <div id="main-search-btn" class="search-btn">
        Jimmy Search
    </div>
    <div id="lucky-search-btn" class="search-btn">
        I'm Feeling Jimmy
    </div>
    <div id="promo">
        All proceeds fund children's
        <a href="https://jlyneu.github.io/artwork/">art education</a>
    </div>
</center>
<div id="footer"></div>
