<div style="padding-top:200px;"id="page-wrap">
    <div class="card">
        <div class="card-title">Privacy Policy</div>

        <div class="card-subtitle">Privacy Notice</div>
        <div class="card-text">
            This privacy notice discloses the privacy practices for http://jimmified.com.
            This privacy notice applies solely to information collected by this website.
            If you choose to use our service, then you agree to the collection and use of information in relation with this policy.
            The Personal Information that we collect is used for providing and improving the service.
            We will not use or share your information with anyone except as described in this Privacy Policy.
        </div>

        <div class="card-subtitle">Information Collection, Use, and Sharing </div>
        <div class="card-text">
            We are the sole owners of the information collected on this site.
            We only have access to/collect information that you voluntarily give us via email or other direct contact from you.
            We will not sell or rent this information to anyone.

            We will use your information to respond to you, regarding the reason you contacted us.
            We will not share your information with any third party outside of our organization, other than as necessary to fulfill your requests.
        </div>

        <div class="card-subtitle">Payments Provider</div>
        <div class="card-text">
            We use a third party provider for all payment transactions.
            We do not retain any financial information or other personally identifiable information with
            regards to the payments transaction.
            All payments information is provided directly to our payments provider, Stripe, who is governed by their own <a href="https://stripe.com/us/privacy">privacy policy</a>.
        </div>

        <div class="card-subtitle">Security</div>
        <div class="card-text">
            We take precautions to protect your information. When you submit sensitive information via the website, your information is protected to the best of our ability.

            Wherever we collect sensitive information, that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a lock icon in the address bar and looking for "https" at the beginning of the address of the Web page.
        </div>

        <div class="card-subtitle">Privacy</div>
        <div class="card-text">
            All queries submitted on this site are considered public, and can be viewed by other users of the site at any time.
            No personally identifiable information is recorded with the query.
        </div>

        <div class="card-subtitle">Cookies</div>
        <div class="card-text">
            We use "cookies" on this site. A cookie is a piece of data stored on a site visitor's hard drive to help us improve your access to our site and identify repeat visitors to our site. For instance, when we use a cookie to identify you, you would not have to log in a password more than once, thereby saving time while on our site. Cookies can also enable us to track and target the interests of our users to enhance the experience on our site. Usage of a cookie is in no way linked to any personally identifiable information on our site.
        </div>

        <div class="card-subtitle">Analytics</div>
        <div class="card-text">
            We use Google Analytics as a third party analytics provider. No personally identifiable
            information is recorded as part of analytics. This information helps us track site usage and
            identify popular site components. Google Analytics is governed by their own privacy policy.
        </div>

        <div class="card-subtitle">Updates</div>
        <div class="card-text">
            We may update our Privacy Policy at any time. Please monitor this page for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page.
        </div>

        <div class="card-text">
            <b>If you feel that we are not abiding by this privacy policy, you should contact us immediately via email at mail.jimmified@gmail.com</b>
        </div>
    </div>
</div>
