<div id="recent-header" class="result-title">Recent Jimmy Searches</div>
{{#each recents}}
    <div class="question-card card">
        <div class="card-title">{{text}}</div>
        <div class="card-text">{{answer}}</div>
    </div>
{{/each}}
