<div class="card">
    <div class="result-links">
        <div class="card-title">In addition, Jimmy thinks you're better off checking out these links</div>
        {{#each links}}
            <div class="card-text result-link">
                <a href={{this}} target="_blank">{{this}}</a>
            </div>
        {{/each}}
    </div>
</div>
