<div class="card-subtitle">
    Jimmy suggests you also check out these links:
</div>
{{#each links}}
    <div class="card-list-element">
        <div class="result-link">
            <a href={{this}} target="_blank">{{this}}</a>
        </div>
    </div>
{{/each}}
