<div id="search-bar">
    <a class="image-container" href="#">
        <img id="results-logo" src={{logoUrl}}>
    </a>
    <div id="search-box-container">
        <input id="search-box" type="text" placeholder="Ask Jimmy"/>
        <button id="search-button">
            <span class="mag-glass"></span>
        </button>
    </div>
</div>
<div id="search-results">
</div>
