<div class="min-width-container">
    <div id="search-bar">
        <a class="image-container" href="#">
            <img id="results-logo" src={{logoUrl}}>
        </a>
        <div id="search-box-container">
            <input id="search-box" type="text" placeholder="Ask Jimmy"/>
            <button id="search-button">
                <span class="mag-glass"></span>
            </button>
        </div>
    </div>
    <div id="search-results">
        <div class="result-text">About 0 results (<span id="timer">0</span> seconds) </div>
        <div class="card">
            <div class="card-title search-text loading">Waiting for results</div>
            <div class="card-text results">
                Don't worry, Jimmy is a <i>certified</i> search engine. Your results will appear here when he finishes them.<br />
            </div>
        </div>
        <div id="recent-container"></div>
    </div>
</div>
